body{
    background: url(/static/images/back1.jpg) no-repeat center;
    background-size: 550px 460px;
    
}
#main{
    background-color: transparent;
    margin: auto;
    width: 360px;
    height: 450px;
    position: relative;
}
h1{
    margin: auto;
    position: absolute;
    padding-top: 80px;
    padding-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(44, 8, 77);
}

.txt{
    /* position: absolute; */
    margin: auto;
    width: 280px;
    height: 50px;
    background-color: rgb(218, 218, 218);
    border: 0px;
}


.box-wrapper {
    position: relative;
    margin: auto;
    width: 250px;
    height: 50px;
}

#inp{
    border: 1px solid #dbdbdb;
    background-color: rgb(235, 232, 232);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    position: relative;
}

#icon{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 165px;
    left: 10px;
}
input[type="checkbox"] {
    color: indianred;
    position: absolute; 
    top: 280px;
    left: 55px;  
    background-color: indianred;
}
#rem{
    position:absolute;
    top: 282px;
    left:75px;
    font-size: 13px;
    color: rgb(255, 255, 255);

}

#signin{
    background-color:rgb(230, 77, 103);
    border: 0px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    position: relative;
    top:50px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding:auto;

}
h3{
    color: rgb(202, 202, 202);
    position: absolute;
    top:380px;
    left: 40%;
    font-size: 12px;
}
.btns{

    top: 430px;
    position: absolute;
    margin-left: 55px;
    width: 120px;
    height: 30px;
    border: 0px ;
    background-color:rgb(236, 236, 236);
    padding-left: 2px;
    background-repeat: no-repeat;
    background-position: 0px 0px;  
}
h4 , a{
    color: rgb(216, 216, 216);
    position: absolute;
    top:95%;
    font-size: 11px;
    margin: auto;
    left:30%;
}

