body {
    border: 2px solid rgb(48, 0, 110);
    padding: 25px;
    background-repeat: no-repeat;
    background-size:cover;
  }



#main{
    margin: auto;
    width: 50%;
    height: 400px;
    position: relative;
    top: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#pic{
    width: 200px;
    position: absolute;
    /* height: 90%; */
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    border-color: cyan;
    top: 150px;
    left: 300px;

}

#me{
    position: absolute;
    width: 400px;
    background: transparent;
    left: 200px;
    top: 20px;
    height: 300px;

}

#btn{
    border-style: dotted;
    border-width: 10px;
    border-radius: 50%;
    position: absolute;
    width: 150px ;
    height: 150px;
    font-size:15px;
    border-color:purple;
    background-color: rgb(204, 137, 204);
    color: white;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}

.lbtn{
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border: transparent;
}

p{
    font-size: 20px;
    color:white;
    font-family: sans-serif;
    line-height: 5p0x;

}

#headerpic{
    /* border: 1px solid transparent;
    border-radius: 10%; */
    position: absolute;
    margin: auto 10% ;
    width: 80%;
    top: 100px;
    height: 250px;
}

#headerpic p{
    padding: 10px 60px;
    font-size: 40px;
    position: absolute;
}

.bar{
    width: 530px;
    height: 50px;
    border-radius:30px;
    border:1px solid gray;
    position:absolute;
    right:280px;
    top: 150px;
    display: flex;
}
.searchbar{
border:none;
font-size:16px;
outline: none;
margin-left: 10%;
width:530px;
background: transparent;
text-align: left;
}
.bar a{
    background-color: rgb(51, 17, 204);
    border-radius: 100%;
    width: 10%;
    margin: 0.5%;
    border:transparent 0px;  
    text-align: center; 
}

.bar a img{
  width: 80%;
  
}

.searchbar:focus{
    color: wheat;
   }

    