body {
    border: 2px solid rgb(48, 0, 110);
    padding: 25px;
    background-repeat: no-repeat;
    background-size:cover;
  }



#main{
    margin: auto;
    width: 50%;
    height: 400px;
    position: relative;
    top: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#pic{
    width: 200px;
    position: absolute;
    /* height: 90%; */
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    border-color: cyan;
    top: 650px;
    left: 300px;

}

#me{
    position: absolute;
    width: 400px;
    background: transparent;
    left: 200px;
    top: 20px;
    height: 300px;

}

#btn{
    margin: 30px auto;
    position: absolute;
    width: 180px ;
    font-size:25px;
    background-color: rgb(23, 107, 6);
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.lbtn{
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border: transparent;
}

p{
    font-size: 20px;
    color:rgb(24, 2, 65);
    font-family: sans-serif;
    line-height: 30px;

}

#headerpic{
    position: relative;
    margin: 30px 10% ;
    width: 80%;
    height: 250px;
}

#headerpic p{
    padding: 10px 60px;
    font-size: 40px;
    position: absolute;
    color: white;
}

.bar{
    width: 530px;
    height: 50px;
    border-radius:30px;
    border:1px solid gray;
    position:absolute;
    right:280px;
    top: 150px;
    display: flex;
}
.searchbar{
border:none;
font-size:16px;
outline: none;
margin-left: 10%;
width:530px;
background: transparent;
text-align: left;
}
.bar a{
    background-color: rgb(51, 17, 204);
    border-radius: 100%;
    width: 10%;
    margin: 0.5%;
    border:transparent 0px;  
    text-align: center; 
}

.bar a img{
  width: 80%;
  
}

.searchbar:focus{
    color: wheat;
   }

   .flex-container {
    position: relative;
    display: flex;
    width: 80%;
    margin: auto 10% ;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(2, 23, 44);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 170px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

#sec2{
    margin-top: 20px;
    height: 100%;
}

    