<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
    <div id=main >
        <h1>LOGIN</h1>
        <form method="post" action="/admin/login">
            <div class="box-wrapper" style="padding-top: 150px;">
                <input value="{{request.form.username }}" class="form-control" type="email" id="inp" placeholder="           Email " name="email">
            </div>
            <div class="box-wrapper" style="padding-top: 25px;">
                <input value="{{request.form.password }}" type="password" id="inp" placeholder="           Password" name="password">
            </div>
            <div>
                <input type="checkbox" label="chk" >
                <label for="chk" id="rem">Check me out</label>
            </div>
            <div>
                <button type="submit" id="signin">Login</button>
            </div>
        </form>
    </div>
    </body>
    </html>