<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="#sec2">About me</a></li>
  <li><a href="News">Posts</a></li>
  <li class="im"><a href="insta"><img class="mg" src="static/images/insta1.png"></a></li>
  <li class="im"> <a href="github"><img class="mg" src="static/images/git1.png"></a></li>
  <li class="im"><a href="linkedin"><img class="mg" src="static/images/linkedin1.png"></a></li>
  <li class="im"><a href="youtube"><img class="mg" src="static/images/yout1.png"></a></li>

</ul>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>


