<html>
    <head>
        {% include "header.html" %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body style="background-color: rgb(169, 176, 214);">
    
        <div id=headerpic style="background-image:url('static/images/back2.jpeg');">
            <p>
                    Hi Welcome to my website...!
            </p>
            <div class="bar">
                    
                <input class="searchbar" type="text" title="Search" placeholder="Can i help you???" >
                <a>
                      <img src="static/images/search.png">
                </a>
            </div>
            
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>